#backgroundsites{
    background-color: grey;
    display: grid;
}
nav > ul {
    list-style-type: none;
}

.menupos{
    font-size: 16px;
    position: fixed;
    float: right; /*выравнивание по правому краю*/
    right: 50px;
    top: 40px;
    z-index: 3;
}

#burger{
    position: fixed;
    float: right;
    top: 10px;
    right: 20px;
    width: 30px;
    height: 30px;
    padding: 5px;;
    background-color: #a9a9a9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    z-index: 2;
}
.burger-line {
    width: 60%; /*Процентные значения от длины родительского блока*/
    height: 10%; /*Процентные значения от высоты родительского блока*/
    background-color: black;
}

#burger-check{
    display: none;
}

#burger-check:checked ~ #burger {
    /*выбирает элементы, которые находятся на этом же уровне вложенности,
    после указанного элемента, с тем же родителем.*/
    background-color: #a9a9a9;
}

#burger-check:checked ~ nav {
    float: right;
    display: block;
    background: grey;
    
}
nav{
    float: right;
    display: none;
}
a:active { /*определяет стиль для активной ссылки*/
    background: #a41313;
}

a:hover{  /* псевдоклассы*/
    color: #e5e833; /* Цвет ссылки */ 
} /*Стилизует ссылку (элемент <a>) при наведении указателя мыши.*/

a:visited { /*Стилизует ссылку по которой вы уже переходили.*/
    color: #5cc350;
}

a{
    text-decoration: none;
}

p + a{
    background-color: #b5b8b1; /* Комбинатор с соседним братом один a после p */
}